@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

* {
    margin: 0;
    
    border: none;
}
body {
    font-family: Fuzzy Bubbles, sans-serif;
    font: weight 400px;
    background-color: #ffe8d6;

}
.footer {
    background-color: #fbc4ab;
    clear: both;
    position: relative;
    height: 50px;
    margin-top: -0px;
}
.header {
    background-color: #fbc4ab;
    text-align: center;
    padding-top: 10px;

}
/* styling for the gaming area*/
.game-area {
   background-color: #ddbea9;
   position: relative;
   width: 75%;
   height: 600px;
   left: 170px;
}
.player-screen {
    height: 350px;
    width: 400px;
    padding: 30px 40px;
    position: absolute;
    left: 60px;
    
    background-color: #ffe8d6;
}
#buttons {
 
    width: 33%;
    left: 100px;
    position: absolute;
    text-align: center;
    bottom: 50px;
}
/*hoover effect on player buttons*/

 #rock:hover{
    background-color: #fbc4ab}
 #paper:hover{

    background-color: #fbc4ab;
}
#scissor:hover{
    background-color:#fbc4ab;;
}

 #scissor{
    height: 60px;
    width: 75px;
    text-align: center;
   font-weight: bold;
   font-size: 110%;
}
#paper{
    height: 60px;
    width: 75px;
    text-align: center;
   font-weight: bold;
   font-size: 110%;
}
#rock{
    
    height: 60px;
    width: 75px;
    text-align: center;
   font-weight: bold;
   font-size: 110%;
}
.computer-player{
    height: 350px;
    width: 400px;
    padding: 30px 40px;
    position: absolute;
    right: 60px;
    top: 20px;
    
    background-color: #ffe8d6;
}
.score-area > div{
    width: 50%;
    left: 65px;
    top: 420px;
}
.points-one{
    position: relative;
    
    
    float: left;
    
    
    clear: both;
   
}

 .points-two{
    position: relative;
   
   
    display: inline;
    clear: both;}