@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

/* borrowed some of this * code from Love Running project */
* {
    margin: 0;
    border: none;
}

/* style for the body of html */
body {
    font-family: Fuzzy Bubbles, sans-serif;
    font: weight 400px;
    background-color: #ffe8d6;
}

.footer {
    background-color: #ff758f;
    position: relative;
    height: 50px;
    margin-top: -0px;
}

.header {
    background-color: #ff758f;
    text-align: center;
    padding-top: 10px;
    height: 70px;
}

.header h1 {
    padding-top: 10px;
}

/* styling for the gaming area*/
.game-area {
    background-color: #f5cac3;
    position: relative;
    width: 75%;
    height: 600px;
    left: 170px;
}

#player {
    height: 350px;
    width: 400px;
    padding: 30px 40px;
    position: absolute;
    left: 60px;
    top: 30px;
    font-size: 130%;
    font-weight: bold;
    color: rgb(255, 0, 212);
    background-color: #ffe8d6;
}

#computer-player {
    height: 350px;
    width: 400px;
    padding: 30px 40px;
    position: absolute;
    right: 60px;
    top: 30px;
    font-size: 130%;
    font-weight: bold;
    color: blue;
    background-color: #ffe8d6;
}

/*Style for the buttons*/

#buttons {
    width: 33%;
    left: 100px;
    position: absolute;
    text-align: center;
    bottom: 50px;
}

.choices {
    height: 60px;
    width: 75px;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

#reset {
    height: 60px;
    width: 75px;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

/*hoover effect on player buttons*/

.choices:hover {
    background-color: #fbc4ab;
}

#reset:hover {
    background-color: #fbc4ab;
}

/* Style for the the players scores*/

#points {
    position: relative;
    width: 30%;
    top: 465px;
    left: 490px;
    text-align: center;
}

#points>div {
    padding: 10px;
}

#player-one {
    padding: 8px;
    font-size: 150%;
    color: rgb(255, 0, 212);
}

#player-two {
    padding: 8px;
    font-size: 150%;
    color: rgb(0, 38, 255);
}

.players {
    font-size: 130%;
    font-weight: bold;
}

/* Style for the start images */
#player-image {
    object-fit: container;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
}

#computer-image {
    object-fit: container;
    max-width: 100%;
    max-height: 95%;
    background-repeat: no-repeat;
}

#div-player-image {
    background-size: cover;
    width: 100%;
    height: 90%;
    object-fit: contain;
    background-image: url('../../assets/images/computer-image.jpg');
}

#div-computer-image {
    background-size: cover;
    width: 100%;
    height: 95%;
    background-image: url('../../assets/images/computer-image.jpg');
}

/*style for the media queries*/

@media screen and (max-width:900px) {

    .header h1 {
        bottom: 10px;
        padding-top: 0;
    }
    .header {
        position: inherit;
        height: 80px;
    }
    #computer-player {
        position: inherit;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        left: 0;
        padding: 0;
    }

    #div-computer-image {
        position: inherit;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #player {
        position: inherit;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        left: 0;
        padding: 0;
    }

    #div-player-image {
        position: inherit;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .game-area {
        height: auto;
        position: inherit;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #points {
        position: inherit;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #buttons {
        position: inherit;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 55px;
        font-size: 100%;
    }

    #footer {
        position: inherit;
        margin-top: -200px;
        clear: both;
    }
}