@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

* {
    margin: 0;
    
    border: none;
}
body {
    font-family: Fuzzy Bubbles, sans-serif;
    font: weight 400px;
    background-color: #ffe8d6;

}
.footer {
    background-color: #ff758f;
  
    position: relative;
    height: 50px;
    margin-top: -0px;
}
.header {
    background-color: #ff758f;
    text-align: center;
    padding-top: 10px;
    height: 70px;
}
.header  h1{
   padding-top: 10px;
    
}
/* styling for the gaming area*/
.game-area {
    
   background-color: #f5cac3;
   position: relative;
   width: 75%;
   height: 600px;
   left: 170px;
}
#player {
    height: 350px;
    width: 400px;
    padding: 30px 40px;
    position: absolute;
    left: 60px;
    top: 30px;
    
    background-color: #ffe8d6;
}
#computer-player{
    height: 350px;
    width: 400px;
    padding: 30px 40px;
    position: absolute;
    right: 60px;
    top: 30px;
    
    background-color: #ffe8d6;
}
#buttons {
 
    width: 33%;
    left: 100px;
    position: absolute;
    text-align: center;
    bottom: 50px;
}

 .choices{
    height: 60px;
    width: 75px;
    text-align: center;
   font-weight: bold;
   font-size: 110%;
}
#reset{
    height: 60px;
    width: 75px;
    text-align: center;
   font-weight: bold;
   font-size: 110%;
}


/*hoover effect on player buttons*/

.choices:hover{
    background-color: #fbc4ab;}
#reset:hover{
    background-color: #fbc4ab;
}

/* Style for the the players scores*/

#points{
    position: relative;
    width: 30%;
    
    top: 465px;
    left: 490px;
    
    text-align: center;}

#points > div {padding: 10px;}
  
    /* Style for images */
#player-image {
    object-fit: container;
    max-width: 100%;
    max-height: 100%;
    
    
}
#computer-image {
    
    object-fit: container;
    max-width: 100%;
    max-height: 95%;
    
}

    
   
@media screen and (max-width:1231px){
    .game-area {
        position: inherit;
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5px;
        height: 100%;
       
       
        
    }
    .computer-player{position: inherit;
        padding: 5px 2px;
    width: 80%;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;}

    .player-screen{    position: inherit;
        
        padding: 5px 2px;
        width: 80%;
        top: 0;
        margin: 0 auto;
        left: 0;
        right: 0;}
        
        #buttons {    position: inherit;
           
            padding: 5px;
            width: 80%;
            top: 0;
            margin: 0 auto;
            left: 0;
            right: 0;}
        #points{
            width: 80%;
            top: -200px;
            left: 0;
            right: 0;
            margin: 0 auto;
            position: inherit;
          
            
         
     
            
       
     }
        
            .footer{
             
              margin-top: 320px;
               
            }
}


    

  @media screen and (max-width:900px) {
        .game-area {
            position: inherit;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            padding: 5px;
            height: 100%;
           
           
            
        }
        .computer-player{position: inherit;
            padding: 5px 2px;
        width: 80%;
        top: 0;
        margin: 0 auto;
        left: 0;
        right: 0;}
    
        .player-screen{    position: inherit;
            
            padding: 5px 2px;
            width: 80%;
            top: 0;
            margin: 0 auto;
            left: 0;
            right: 0;}
            
            #buttons {    position: inherit;
               
                padding: 5px;
                width: 80%;
                top: 0;
                margin: 0 auto;
                left: 0;
                right: 0;}
            #points{
                width: 80%;
                top: -200px;
                left: 0;
                right: 0;
                margin: 0 auto;
                position: inherit;
              
                
             
         
                
           
         }
            
                .footer{
                 
                  margin-top: 320px;
                   
                }
    }